name: CI

on: 
  push:
  pull_request:

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      
    - name: Setup Nuget
      uses: nuget/setup-nuget@v1

    - name: Setup MSBuild # Needed by Build NativeHelper
      uses: microsoft/setup-msbuild@v1
      
    - name: Build NativeHelper # Need to build this separately first because nuget pack doesn't seem to handle vcxproj
      working-directory: ./src/Helper
      run: |
        msbuild Helper.vcxproj /p:Configuration=Release /p:Platform=x64
    
    - name: Nuget pack
      working-directory: ./src
      run: |
        nuget restore
        gci -Recurse -Filter *.nuspec | foreach { nuget pack "$($_.DirectoryName)\$($_.BaseName).csproj" -build -properties Configuration=Release -OutputDirectory "../bin" }

    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}_${{ github.sha }}
        path: bin/**/*.*
